/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Jura', sans-serif; */

/* setting */
body{
    background-color: black;
}

h1,h2,h3,h4,h5{
    font-family: 'Orbitron', sans-serif;
}

:root{
    --color-blu: rgb(43, 157, 244);
    --font-Jura: 'Jura', sans-serif;
    --font-Orbitron:'Orbitron', sans-serif
}

/* navbar css start */
.moon-icon{

    transform: rotate(335deg);
}

.nav-link{
    font-size: small;
    opacity: 0.60;
    margin-left: 20px;
    font-family: var(--font-Jura)
}

.nav-link:hover{
    color: var(--color-blu) !important;  
}

.navbar-custom{
    border-bottom: 2px solid grey;
    width: 100%;
}

.navbar-toggler{
    background-color: var(--color-blu);
}
/* navbar css end */
/* ----------------------------------- */
/* header css start */
.h1-custom{
    font-size: 3.5rem;
}

.headerCustom{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,1)),url(./media/moon.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.pHeader{
    font-family: var(--font-Jura);
    font-size: large;
}

.arrow{
    position: absolute;
    bottom: 40%;
    z-index: 100;
    width: 100%;
    text-align: center;
    animation-name: down-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes down-arrow{

    from{
        opacity: 0%; top: 70%;
    }

    to{
        opacity: 1; bottom: 5%;
    }
}
/* css header end */
/* -------------------------------------- */
/* css section 1 start */
.p1-custom{
    color: white;
    font-size: small;
    opacity: 0.70;
}

.div1Custom{
    border-bottom: 2px solid var(--color-blu);
}
/* css section 1 end */
/* ------------------------------------- */
/* css section 2 start */
.moon2Custom{
    margin-top: 200px;
    width: 400px;
} 

.p2-custom{
    color: white;
    font-size: 20px;
    
}

.title2Custom{
    padding-top: 100px;
}
/* css section 2 end */
/* ------------------------------------ */
/* css section 3 start */
.h5-sec3Custom{
    color: white;
    margin-left: 10px;
}

.h5-sec3CustomRight{
    color: white;
}

.divSec3{
    border-bottom: 2px solid var(--color-blu);
}

/* css section 3 end */
/* ------------------------------------ */
/* css section 4 start */

.div-sec-4{
    width: 600px;
    padding-top: 180px;
}

.imgMissile{
    padding-left: 50px;
    padding-top: 200px;
    width: 600px;
    height: 1150px;
}

.div-sec-4{
    font-size: larger;
}

.h4-custom{
    color: #2B9DF4;
    font-size: 30px;
}

@media screen and (max-width: 767px){

    .div-none{
        display: none;
    }
    .div-sec-4{
        width: 300px;
    }
}
/* css section 4 end */
/* css section 5 start */
.pButton{
    color: #6a8295;
}

.divButton{
    width: 700px;
    position: relative;
    padding-left: 40px;
    padding-top: 150px;
   
}

.button{
    position: relative;
    padding-top: 15px;
    padding-left: 500px;
}

@media screen and (max-width: 767px){
    .button{
        display: none;
    }
    
.divButton{
    width: 300px;
    /* position: relative;
    padding-left: 40px;
    padding-top: 150px; */
   
}
}

.spanDxTop{
    position: absolute;
    bottom: 30px;
    right: 60px;
}
.spanDxBot{
    position: absolute;
    bottom: -10px;
    right: 60px;
}

.iconDxTop{
    transform: rotate(45deg);
}

.iconDxBot{
    transform: rotate(495deg);
}

.spanSxTop{
   position: absolute;
   bottom: 30px;
   right: 180px;
}

.spanSxBot{
    position: absolute;
    bottom: -10px;
    right: 180px;
}

.iconSxTop{
   transform: rotate(-45deg);
}

.iconSxBot{
    transform:rotate(-495deg);
} 


/* footer */
.footer{
    background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.4), rgba(0, 0, 0,1)), url(./media/sunrise-1765027_1920.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.divFooter{
    width: 800px;
    font-size: larger;
    position: relative;
    padding-left: 50px;
}

.bottomLine{
    content: "";
    width: 50%;
    height: 3px;
    background: linear-gradient(to right, black,  #2B9DF4, black);
    background-clip: content-box;
}

.bottomDiv{
    background:rgb(0, 0, 0);
}

@media screen and (max-width: 767px) {
    .divFooter{
        width: 500px;
        font-size: medium;
    }

    .centro{
        text-align: end !important;
    }
    .div-centro{
        justify-content: end !important;
    }

}





